// Base Settings


/* Colours */

// Blacks
$black:rgb(17, 16, 16);
$black-light: #2a2a2a;
$black-lighter: #383838;

// White
$white: #fff;

// Grays
$gray: #8e8e8e;
$gray-dark: #6c757d;
$gray-darker: #495057;
$gray-light: #dee2e6; // ideal for text
$gray-lighter: #ced4da;

// Blues
$blue: #0084b4;
$blue-light: #5698be;
$blue-lighter: #add8e6;
$blue-dark: #005dbb;
$blue-darker: #005ea5;
$teal-dark: #004c68;

// Purples
$indigo: #6610f2;
$purple: #6f42c1;
$purple-light: #6f72af;
$purple-dark: #4c2c92;

// Aquas
$aqua-light: #2bbbad;
$aqua-dark: #1d7d73;

//Cyan
$cyan: #17a2b8;

// Greens
$green: #24a882;
$green-light: #23cba5;
$green-dark: #158c6a;
$green2-light: #ddffdd; // ideal for text box
$green2: #4caf50;

// Reds
$red: #dc143c;
$red-light: #f2003c;
$red-dark: #b31b1b;


// Oranges
$orange: #FF7900;
$orange-dark: #E86100;
$orange-light: #FFA500;


// map colours
$colours: ("black": $black,
    "black-light": $black-light,
    "black-lighter": $black-lighter,
    "white": $white,
    "gray": $gray,
    "gray-dark": $gray-dark,
    "gray-darker": $gray-darker,
    "gray-light": $gray-light,
    "gray-lighter": $gray-lighter,
    "blue": $blue,
    "blue-light": $blue-light,
    "blue-lighter": $blue-lighter,
    "blue-dark": $blue-dark,
    "blue-darker": $blue-darker,
    "teal-dark": $teal-dark,
    "indigo": $indigo,
    "purple": $purple,
    "purple-light": $purple-light,
    "purple-dark": $purple-dark,
    "aqua-light": $aqua-light,
    "aqua-dark": $aqua-dark,
    "cyan": $cyan,
    "green": $green,
    "green-light": $green-light,
    "green-dark": $green-dark,
    "green2": $green2,
    "green2-light": $green2-light,
    "red": $red,
    "red-light": $red-light,
    "red-dark": $red-dark,
    "orange": $orange,
    "orange-dark": $orange-dark,
    "orange-light": $orange-light);

$primary: $blue !default;
$secondary: $purple !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-light !default;
$dark: $black-light !default;

$theme-colours: ("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
) !default;


/* Grid Settings */

// Breakpoints
//
// Define the minimum dimensions at which your layout will change
$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px) !default;

// Grid containers
//
// Define the maximum width of container for different screen sizes
$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px) !default;

// Columns
//
// Set the number of your columns and specify the width of the gutters
$grid-columns: 12 !default;
$gutter-width: 1.875em !default;

// Masonry
$masonry-columns-count-sm: 1 !default;
$masonry-columns-count-md: 2 !default;
$masonry-columns-count-lg: 3 !default;
$masonry-columns-count-xl: 4 !default;